<!doctype html>
  <title>Download converted ebook file</title>
  <h1>Download converted ebook file</h1>
  <body class="body">
     <div class="container" align="left">
         <a href="/files/{{value}}" target="blank"><button class='btn btn-default'>Download</button></a>
         <a href="/" target="blank"><button class='btn btn-default'>Go back</button></a>
     </div>
     <p>
         Thank you for using furiganalyse !
     </p>
     <p>
         Something went wrong ? Please report any issue <a href="https://github.com/itsupera/furiganalyse/issues">here</a>.
     </p>
     <p>
         Also please consider <a href="https://www.buymeacoffee.com/itsupera">donating</a> to help me pay for server costs.
     </p>
  </body>