<!doctype html>
    <script type="text/javascript">
        function checkForm(form)
        {
            form.upload.disabled = true;
            form.upload.value = "Please wait...";
            return true;
        }

        function fileSelected(form)
        {
            form.upload.disabled = false;
            form.upload.value = "Upload";
        }
    </script>

    <title>Upload an ebook to furiganalyse</title>
    <h1>Upload an ebook to furiganalyse</h1>
    <form action="/upload-file" method=post enctype=multipart/form-data onsubmit="return checkForm(this);">
      <p>
         <input type=file name=file accept="application/epub+zip" multiple="false" oninput="fileSelected(this.form);"/>
         <div>
           <input type="radio" name="mode" id="mode_add" value="add" checked>Add furiganas<br>
           <input type="radio" name="mode" id="mode_replace" value="replace">Add and override furiganas<br>
           <input type="radio" name="mode" id="mode_remove" value="remove">Remove furiganas<br>
         </div><br>
        Writing mode:
        <div>
           <input type="radio" name="writing_mode" id="wm_horizontal-tb" value="horizontal-tb" checked>Horizontal<br>
           <input type="radio" name="writing_mode" id="wm_vertical-rl" value="vertical-rl">Vertical, Right to Left<br>
           <input type="radio" name="writing_mode" id="wm_vertical-lr" value="vertical-lr">Vertical, Left to Right<br>
         </div><br>
         Output format: <div>
           <input type="radio" name="of" id="of_epub" value="epub" checked>EPUB<br>
           <input type="radio" name="of" id="of_many_txt" value="many_txt">Many text files (one per book part)<br>
           <input type="radio" name="of" id="of_single_txt" value="single_txt">Single text file<br>
           <input type="radio" name="of" id="of_apkg" value="apkg">Anki Deck (each sentence as a card)<br>
         </div><br>
         <input type=submit name="upload" value=Upload disabled/>
    </form>
    <div>
        <p>
            This webapp annotates Japanese ebooks (EPUB format) with furigana (for all kanjis !),
            to help Japanese language learners in their studies.
        </p>
        <p>
            For suggestions and reporting issues, <a href="https://github.com/itsupera/furiganalyse/issues">click here</a>.
        </p>
        <p>
            Source code available on <a href="https://github.com/itsupera/furiganalyse">project page</a>
        </p>
    </div>