<!doctype html>
    <script type="text/javascript">
        function checkForm(form) // Submit button clicked
        {
            //
            // check form input values
            //

            form.upload.disabled = true;
            form.upload.value = "Please wait...";
            return true;
        }

        function resetForm(form) // Reset button clicked
        {
            form.upload.disabled = false;
            form.upload.value = "Upload";
        }
    </script>

    <title>Upload an ebook to furiganalyse</title>
    <h1>Upload an ebook to furiganalyse</h1>
    <form action="/upload-file" method=post enctype=multipart/form-data onsubmit="return checkForm(this);">
      <p>
         <input type=file name=file onclick="resetForm(this.form);">
         <input type=submit name="upload" value=Upload>
    </form>
    <div>
        <p>
            This webapp annotates Japanese ebooks (EPUB format) with furigana (for all kanjis !),
            to help Japanese language learners in their studies.
        </p>
        <p>
            For suggestions and reporting issues, <a href="https://github.com/itsupera/furiganalyse/issues">click here</a>.
        </p>
        <p>
            Source code available on <a href="https://github.com/itsupera/furiganalyse">project page</a>
        </p>
    </div>