<!doctype html>
    <title>Upload an ebook to furiganalyse</title>
    <h1>Upload an ebook to furiganalyse</h1>
    <form action="/upload-file" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    <div>
        <p>
            This webapp annotates Japanese ebooks (EPUB format) with furigana (for all kanjis !),
            to help Japanese language learners in their studies.
        </p>
        <p>
            For suggestions and reporting issues, <a href="https://github.com/itsupera/furiganalyse/issues">click here</a>.
        </p>
        <p>
            Source code available on <a href="https://github.com/itsupera/furiganalyse">project page</a>
        </p>
    </div>